<h1>Contact Us Below</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td class="h2">Telephone Number</td>
        <td class="h3">0345 120 0044</td>
    </tr>
    <tr>
        <td class="h2">Email</td>
        <td class="h3"><email address="vikki.scruton@gmail.com" content="Click Here" class="btn btn-indigo"></email></td>
    </tr>
    <tr>
        <td class="h2">Address</td>
        <td class="h3">Moat farm, Mappleton Rd, Great Hatfield, Hull HU11 4UP</td>
    </tr>
</table>

<div class="card" style="width: 26rem;">
    <img src="Images/MapOfSite.PNG" class="card-img-top" />
    <div class="card-body">
        <h4 class="card-title">Map Location</h4>
        <p class="card-text">Here is where we are located!</p>
        <a href="https://www.google.com/maps/place/Wood+Lake+Campsite+and+caravan+park/53.8661296,-0.2319207,14z/data=!4m5!3m4!1s0x0:0xf3dfb867c0649cf5!8m2!3d53.869936!4d-0.1926309"
           target="_blank" class="btn btn-info">
            Find on Google Maps here
        </a>
    </div>
</div>