<h1>Contact Us Below</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td class="h2">Telephone Number</td>
        <td class="h3">0345 120 0044</td>
    </tr>
    <tr>
        <td class="h2">Email</td>
        <td class="h3"><email address="vikki.scruton@gmail.com" content="Click Here"></email></td>
    </tr>
</table>