@model IEnumerable<HolidayHomeAway.Models.Type>

<li class="nav-item dropdown text-light">


    <a asp-controller="Accom" asp-action="Details"
       class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
        Holiday Lets
    </a>
    <ul class="dropdown-menu text-light">
        @foreach (var type in Model)
        {
            <li>
                <a asp-controller="Accom" asp-action="List"
                   asp-route-type="@type.Name" class="dropdown-item">@type.Name</a>
            </li>
        }
        <li class="divider-new"></li>
        <li>
            <a asp-controller="Accom" asp-action="List" class="dropdown-item">View All Holiday Lets</a>
        </li>
    </ul>
</li>
