
<div id="CarouselControls" class="carousel carousel slide" data-ride="carousel">

   <ol class="carousel-indicators">
        <li data-target="#CarouselControls" data-slide-to="0" class="active"></li>
        <li data-target="#CarouselControls" data-slide-to="1"></li>
        <li data-target="#CarouselControls" data-slide-to="2"></li>
        <li data-target="#CarouselControls" data-slide-to="3"></li>
        <li data-target="#CarouselControls" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner active" role="listbox">
        <!--Slide 1-->

        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem; height: 25rem;">
                        <img class="card-img-top" src="Images/AmblesideCara_Out.jpg"
                             alt="Card image cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Ambleside</h4>
                            <p class="card-text">Static Caravan</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="1">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width:20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/ArronbrookCara.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Arronbrook</h4>
                            <p class="card-text">Static Caravan</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="2">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/BiaritzCara.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Biaritz</h4>
                            <p class="card-text">Static Caravan</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="3">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Slide 1-->
        <!-- Slide 2-->

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/CanterburyLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Canterbury</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="5">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/LakesLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Lakes</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="9">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/RetreatLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Retreat</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="14">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Slide 3-->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/BordeauxCara.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Bordeaux</h4>
                            <p class="card-text">Static Caravan</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="4">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/WimbledonCara.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Wimbledon</h4>
                            <p class="card-text">Static Caravan</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="17">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/NewPinesCara.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">New Pines</h4>
                            <p class="card-text">Static Caravan</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="10">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Slide 4-->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/ChedderWoodsLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Chedder Woods</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="6">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/PathFindersLodge_Out.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Path Finders</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="12">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/HeroLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Hero</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="8">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/ReacherLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Reacher</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="13">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Slide 5-->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/FarnhamLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Farnham</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="7">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/WoodsideBayLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Woodside Bay</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="18">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/WellLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Well</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="16">See More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/ParksLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Parks</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="11">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/WareehamRetreatLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Wereham Retreat</h4>
                            <p class="card-text">Lodge</p>
                            <a class="btn btn-info" asp-controller="Accom" asp-action="Details" asp-route-Id="15">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>