
<div id="CarouselControls" class="carousel carousel slide" data-ride="carousel">

    <!--Controls-->
    @*<a class="carousel-control-prev" href="#CarouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon btn btn-mdb-color " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#CarouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon btn btn-mdb-color" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@


    <ol class="carousel-indicators">
        <li data-target="#CarouselControls" data-slide-to="0" class="active"></li>
        <li data-target="#CarouselControls" data-slide-to="1"></li>
        <li data-target="#CarouselControls" data-slide-to="2"></li>

    </ol>

    <div class="carousel-inner active" role="listbox">
        <!--Slide 1-->

        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem; height: 25rem;">
                        <img class="card-img-top" src="Images/AmblesideCara_Out.jpg" 
                             alt="Card image cap"style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Ambleside</h4>
                            <p class="card-text">Static Caravan</p>
                            <button class="btn btn-info">Go To</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width:20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/ArronbrookCara.jpg"
                             alt="Card Image Cap"style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Arronbrook</h4>
                            <p class="card-text">Static Caravan</p>
                            <button class="btn btn-info">Go To</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/BiaritzCara.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Biaritz</h4>
                            <p class="card-text">Static Caravan</p>
                            <button class="btn btn-info">Go To</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Slide 1-->
       
        
        <!-- Slide 2-->

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/CanterburyLodge.jpg"
                             alt="Card Image Cap" style="height: 50%"  />
                        <div class="card-body">
                            <h4 class="card-title">Canterbury</h4>
                            <p class="card-text">Lodge</p>
                            <button class="btn btn-info">Go To</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/LakesLodge.jpg"
                             alt="Card Image Cap" style="height: 50%" />
                        <div class="card-body">
                            <h4 class="card-title">Lakes</h4>
                            <p class="card-text">Lodge</p>
                            <button class="btn btn-info">Go To</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;height: 25rem;">
                        <img class="card-img-top"
                             src="Images/RetreatLodge.jpg"
                             alt="Card Image Cap" style="height: 50%"  />
                        <div class="card-body">
                            <h4 class="card-title">Retreat</h4>
                            <p class="card-text">Lodge</p>
                            <button class="btn btn-info">Go To</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Slide 3-->

    </div>

</div>