<h1>Latest News</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="images/Pub.jpg" />
            <div class="card-body">
                <h5 class="card-title">The Porch Pub has been refurbished!</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit nulla quam, ac interdum nunc malesuada sagittis. Morbi fermentum eleifend nunc, et interdum magna iaculis quis.
                    Nam condimentum, enim ac fermentum interdum, nisl ipsum pharetra ligula, et facilisis nisl quam eget nibh. Duis pretium iaculis dolor, id aliquam dui pharetra et.
                    Etiam in interdum lectus. Nam sit amet lacus interdum nibh sagittis blandit vel convallis risus. Aliquam posuere posuere libero, ac iaculis mauris tempor a.
                    Morbi mollis, neque eget porttitor commodo, erat elit lobortis mauris, ultrices interdum ipsum purus porttitor risus. Sed ac condimentum arcu.

                    Fusce congue lorem a nisl semper gravida. Praesent congue ligula at pulvinar semper.
                    Sed posuere rutrum congue. Proin metus ligula, varius a orci nec, convallis ornare risus.
                    Curabitur mattis, mauris at faucibus vulputate, erat ipsum egestas mauris, ut venenatis mi ligula eget nisl.
                    Mauris nibh quam, dapibus ac lacinia quis, elementum nec dolor. Etiam ut tortor vel eros volutpat efficitur.


                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="images/20Off.png" />
            <div class="card-body">
                <h5 class="card-title">20% Off All Lodges in May!</h5>
                <p class="card-text">
                    Duis vulputate leo nulla. In rhoncus ornare ligula, vitae mollis quam. Nunc sollicitudin nulla sed eros rutrum consequat. Nulla ut euismod augue.
                    Sed non nisl sodales, rhoncus tortor at, dictum nulla. Nulla id augue congue, lacinia mi quis, tempus lacus.
                    Donec volutpat tellus nec urna congue pellentesque. Suspendisse potenti. Aliquam viverra odio quis lorem ullamcorper, non blandit diam pulvinar.
                    Donec dapibus neque ut massa mollis, non gravida felis congue. Pellentesque ut commodo dui. In lacinia lorem id rhoncus iaculis. Morbi non ornare risus.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                    Nullam hendrerit dolor a interdum fermentum. Sed blandit a orci sit amet imperdiet. Suspendisse lacinia hendrerit posuere.
                    Cras malesuada eget justo eget rutrum. Sed molestie sapien sed tincidunt fringilla. Aliquam eget ultricies metus, nec posuere massa.
                    Sed sit amet leo mollis, sodales nibh ut, interdum elit. Nullam vehicula turpis arcu, eu porttitor ex suscipit eget. Integer posuere orci in aliquam scelerisque.
                    Donec gravida id eros sed rhoncus.
                </p>
            </div>
        </div>
    </div>

</div>
