@model OrderManagementViewModel

<h1>Order Management</h1>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Order Id</th>
        <th>Order Last Name</th>
        <th>Order Start Date</th>
        <th>Order Placed</th>
    </tr>
    
    @foreach(var order in Model.Orders)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.LastName</td>
            <td>@order.RequestBookingDates</td>
            <td>@order.DateOrderPlaced</td>
        </tr>
    }
</table>
